.header{
    height:34vw;
    margin: 2px auto;
   margin-top: -50px;
    background:url('/header_img.png') no-repeat;
    background-size: contain;
    position:relative;
}
.header-contents{
    position:absolute;
    display: flex;
    flex-direction: column;
    gap:1.5vw;
    max-width: 50%;
    bottom:10%;
    left: 6vw;
    top: 7vw;
    animation:fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color:white;
    font-size: max(4.5vw,22px);
    
}

.header-contents p{
    color:white;
    font-size:1vw;
}
 .header-contents button {
    width: fit-content;     
    padding: 1vw 2.3vw;   
    font-weight: 500;  
    border: none;           
    background-color: white;  
    color: #747474;
    border-radius: 50px;
    font-size: max(1vw,13px);
    cursor: pointer;
  } 
  
  @media (max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
  }

   
  @media (max-width:1050px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display:none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
  }