.add{
    width:70%;
    margin-left:max(5vw,25px);
    margin-top: 50px;
    color:#6d6d6d;
    font-size:16px;
}
.add form{
    gap:20px;
}
.add-img-upload img{
    width:120px;
    margin-bottom: 20px;
}
.add-img-upload p{
    margin-bottom: 10px;
}

.add-product-name, .add-product-description{
    width:max(40%,280px);
    margin-bottom: 20px;
}

.add-product-name input,.add-product-description textarea{
    padding: 10px;
}

.add-product-name p , .add-product-description p{
    margin-bottom: 10px;
}
.add-category-price{
    gap: 30px;
    display: flex;
}
.add-category-price select,.add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-category-price p{
    margin-bottom: 10px;
}
.add-btn {
    display: block; /* or inline-block */
    max-width: 120px;
    width: 100%; /* This makes it responsive */
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 16px;
  }
  

